body
    background: #272822

header
    h1
        margin: 15px 1%
        padding: 0
        font-size: 20px
        letter-spacing: -0.5px
        color: #F9263B
        font-family: "Source Sans Pro"
        font-weight: bold
        text-shadow: 2px 2px 5px rgba(0, 0, 0, 1)

        span
            color: #F1F1F1

.editor
    width: 50%
    float: left
    display: block
    min-height: 100px

    .ace_editor
        width: 50%
        min-height: 100px

        .ace_sb
            display: none